<!DOCTYPE html>
<html lang="fr">
  <head>
    <link rel="icon" href="{{ asset('img/favicon.png') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:wght@500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    <meta charset="UTF-8">
    <title>{% block title %}Green Goodies{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block stylesheets %}
      <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    {% endblock %}
  </head>

  <body>
    {% include 'base/header.html.twig' %}

    <div class="container">
      {% block body %}{% endblock %}
    </div>

    {% include 'base/footer.html.twig' %}

    {% block javascripts %}{% endblock %}
  </body>
</html>
