{% extends 'base/base.html.twig' %}

{% block title %}Green Goodies | Nos produits{% endblock %}

{% block body %}
<div style="padding: 40px 60px;">
  <h1>Nos produits</h1>
  <p>Page à compléter.</p>
</div>
{% endblock %}